body{
    background-color: rgb(161, 210, 240);
    /* height: 100vh; */
      margin-top: 19vh;
    /*margin-bottom: 15vh;  */
    /* align-items: center; */
    /* background-color: lightsteelblue; */
}

div{
    background-color: rgb(48, 48, 48);
    margin-top: 90px;
    padding: 25px;
    padding-left: 60px;
    padding-right: 60px;
}

ul{
    display: inline;
}

li{
    display: inline;
    color: white;
    list-style: none;
}

.set1{
    font-weight: bold;
}
.set2{
    margin-right: 2em;
    
}
.set3{
    margin-top:-10px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: rgb(161, 210, 240);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: larger;
}

#nameplate1 .set1{
    float: left;
    margin-right: 25vw;
}

#nameplate1 .set3{
    float: right;
}

#nameplate3 .set1{
    float: left;
    margin-right: 52vw;
}

#nameplate3 .set3{
    float: right;
}

#nameplate2 .set2{
    float: left;
}

#nameplate2 .set3{
    margin-left: 21vw;
}

#nameplate2 .set1{
    float: right;
}